{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "printWidth": 120,
  "quoteProps": "preserve",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5"
}
